main {
  padding: 2em;
  background-color: rgb(142, 107, 219);
  display: flex;
}

section {
  background-color: #fff;
  padding: 1em;
  border-radius: 1em;
  width: 60%;
  height: 40vh;
}

.container {
  margin-top: 1em;
}

#favBlogContainer ul {
  padding: 1em;
}

#favBlogContainer ul li {
  padding-top: 1em;
}


#favBlogContainer ul li a{
  word-wrap: break-word;
}

@media (max-width: 820px) {
  main {
    display: block;
  }

  .container {
    display: block;
  }

  section {
    width: 100%;
  }
}
